.header--area {
    position: relative;

    &--text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &--para{
        color: #fff;
        padding: 7px 0;
        margin-top: -25px;
    }

    &--headline {
        color: #fff;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 0.05em;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
        font-family: 'genericaregular';

        @mixin at530 {
            font-size: 3rem;
            letter-spacing: 0.05em;
        }
    }
}
