.hero-slider {
    position: relative;
    /*  padding-top: 65px;*/

    div {
        outline: none;
    }

    &__interior {
        padding-top: 60px;
        padding-bottom: 60px;

        @mixin at778 {
            padding-top: 130px;
            padding-bottom: 130px;
        }
    }

    &__slide {
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-backface-visibility: hidden;

        &-text {
            position: absolute;
            text-align: center;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            @mixin at530 {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & p {
                padding: 4% 0;

                @mixin at530 {
                    padding: 3% 0;
                }
            }

            & a {
                text-shadow: none;
            }

        }

    }

    &__overlay {
        margin: 0 auto;
        background-color: rgba(0, 0, 0, .68);
        padding: 40px;
        color: #FFF;

        @mixin at778 {
            width: 50%;
        }
    }

}

.slick-dots {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    top: 285px !important;

    @mixin at778 {
        top: 90% !important;
    }
}

.slick-dots {

    li {
        list-style: none;
        display: inline;
    }

    li button {
        display: inline-block;
        text-indent: -9999px;
        font-size: 0;
        line-height: 0;
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, .5);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
        border-radius: 50%;
        border: none;
        margin: 0 4px;
        padding: 0;
        outline: none;
        transition: background-color .3s ease-out;
        cursor: pointer;
    }

    .slick-active button {
        background-color: #FFF;
    }

}
