.page-section {
    padding: 1.2rem 0;

    @mixin at778 {
        padding: 4.5rem 0;
    }

    &--no-b-padding-until-medium {
        padding-bottom: 0;

        @mixin at778 {
            padding-bottom: 4.5rem;
        }
    }

    &--no-b-padding-until-large {
        padding-bottom: 0;

        @mixin at1010 {
            padding-bottom: 4.5rem;
        }
    }

    &--blue {
        background-color: $mainBlue;
        color: #fff;
        
          @mixin at1010 {
                background: url('../../assets/images/office1.jpg') top center no-repeat;
                background-size: cover;  
        }
    }

    &--testimonials {

        background-color: #e0e6ef;

        @mixin at1010 {
            &.lazyloaded {
                background: url('../../assets/images/meeting.jpg') top center no-repeat;
                background-size: cover;
            }
        }
    }
}
