.reveal-item{
    opacity: 0;
    transition: all 1.2s ease-out;
    transform: scale(1.15);
    
    &--is-visible{
        opacity: 1;
        transform: scale(1);
    }
}

.slide-item {
    opacity: 0;
    transition: .75s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity, .75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateX(60px);

    &--is-visible {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-item-left {
    opacity: 0;
    transition: .75s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity, .75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateX(-60px);

    &--is-visible {
        transform: translateX(0);
        opacity: 1;
    }
}